/** @format */

%title-primary {
	font-size: 7.8rem;
	font-family: $font-epilogue, sans-serif;
	font-weight: 700;
}

%title-secondary {
	font-size: 2rem;
	font-family: $font-epilogue, sans-serif;
	font-weight: 700;
}

%info-text {
	font-size: 1.8rem;
	font-family: $font-epilogue, sans-serif;
	font-weight: 500;
}
